@inherits LayoutComponentBase


<div class="page" style="overflow: hidden">
	@Body
	<img src="background.png" style="width: 20vw; height: 20vh; background: transparent; position: absolute; top: 85vh; left: 87vw; transform: rotate(-35deg)"/>
</div>
